body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }
  .popular-wrapper {
    text-align: center;
    padding: 20px;
  }
  
  .popular-heading {
    font-size: 34px;
    font-weight:700;
    margin-bottom: 20px;
    margin-left: 70px;
    display: flex;
    gap: 10px; 
    align-items: center;
    color: #000;
    
  }
  
  .popular-heading .emoji {
    object-fit: contain;
    height: 32px;
    width: 32px;
   
  }
  
 
  .popular-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 20px;
  }
  
  .popular-card {
    width: 188px;
    height: 238px;
    background-color: #f5f5f5;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow:hidden; 
}
  
  .popular-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }
  
  .popular-image {
    width: 190px;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  
  .popular-name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-align: start;
    margin-top: 8px;
  }
  .restaurant-count {
    font-size: 10px;
    color: #FC8A06;
    text-align: start;
    
  }